<div id="keyboardContainer">

  <keyboard-title-selector></keyboard-title-selector>

    <ul id="keyboard" >

        <a-key key-class="symbol fn" char="Escape"></a-key>
        <a-key key-class="empty"></a-key>
        <a-key key-class="symbol fn" char="F1"></a-key>
        <a-key key-class="symbol fn" char="F2"></a-key>
        <a-key key-class="symbol fn" char="F3"></a-key>
        <a-key key-class="symbol fn" char="F4"></a-key>
        <a-key key-class="empty fn"></a-key>
        <a-key key-class="symbol fn" char="F5"></a-key>
        <a-key key-class="symbol fn" char="F6"></a-key>
        <a-key key-class="symbol fn" char="F7"></a-key>
        <a-key key-class="symbol fn" char="F8"></a-key>
        <a-key key-class="empty fn"></a-key>
        <a-key key-class="symbol fn" char="F9"></a-key>
        <a-key key-class="symbol fn" char="F10"></a-key>
        <a-key key-class="symbol fn" char="F11"></a-key>
        <a-key key-class="symbol fn lastitem" char="F12"></a-key>

        <a-key key-class="symbol break" char="²"></a-key>
        <a-key key-class="symbol" char="&" maj-char="1"></a-key>
        <a-key key-class="symbol" char="é" maj-char="2"  alt-gr-char="~"></a-key>
        <a-key key-class="symbol" char="''" maj-char="3" alt-gr-char="#"></a-key>
        <a-key key-class="symbol" char="'" maj-char="4"  alt-gr-char="{"></a-key>
        <a-key key-class="symbol" char="(" maj-char="5"  alt-gr-char="["></a-key>
        <a-key key-class="symbol" char="-" maj-char="6"  alt-gr-char="|"></a-key>
        <a-key key-class="symbol" char="è" maj-char="7"  alt-gr-char="`"></a-key>
        <a-key key-class="symbol" char="_" maj-char="8"  alt-gr-char="\"></a-key>
        <a-key key-class="symbol" char="ç" maj-char="9"  alt-gr-char="^"></a-key>
        <a-key key-class="symbol" char="à" maj-char="0"  alt-gr-char="@"></a-key>
        <a-key key-class="symbol" char=")" maj-char="°"  alt-gr-char="]"></a-key>
        <a-key key-class="symbol" char="=" maj-char="+"  alt-gr-char="}"></a-key>
        <a-key key-class="delete lastitem" char="Retour"></a-key>
        <a-key key-class="tab break" char="Tab"></a-key>
        <a-key key-class="letter" char="a"></a-key>
        <a-key key-class="letter" char="z"></a-key>
        <a-key key-class="letter" char="e"></a-key>
        <a-key key-class="letter" char="r"></a-key>
        <a-key key-class="letter" char="t"></a-key>
        <a-key key-class="letter" char="y"></a-key>
        <a-key key-class="letter" char="u"></a-key>
        <a-key key-class="letter" char="i"></a-key>
        <a-key key-class="letter" char="o"></a-key>
        <a-key key-class="letter" char="p"></a-key>
        <a-key key-class="symbol" char="^" maj-char="¨"></a-key>
        <a-key key-class="symbol" char="$" maj-char="£" alt-gr-char="¤"></a-key>
        <a-key key-class="return lastitem" char="Entré"></a-key>
        <a-key key-class="capslock break" char="Caps"></a-key>


        <a-key key-class="letter" char="q"></a-key>
        <a-key key-class="letter" char="s"></a-key>
        <a-key key-class="letter" char="d"></a-key>
        <a-key key-class="letter" char="f"></a-key>
        <a-key key-class="letter" char="g"></a-key>
        <a-key key-class="letter" char="h"></a-key>
        <a-key key-class="letter" char="j"></a-key>
        <a-key key-class="letter" char="k"></a-key>
        <a-key key-class="letter" char="l"></a-key>
        <a-key key-class="letter" char="m"></a-key>
        <a-key key-class="symbol" char="ù" maj-char="%"></a-key>
        <a-key key-class="symbol" char="*" maj-char="µ"></a-key>

        <a-key key-class="left-shift break" char="Maj"></a-key>
        <a-key key-class="symbol" char="<" maj-char=">"></a-key>
        <a-key key-class="letter" char="w"></a-key>
        <a-key key-class="letter" char="x"></a-key>
        <a-key key-class="letter" char="c"></a-key>
        <a-key key-class="letter" char="v"></a-key>
        <a-key key-class="letter" char="b"></a-key>
        <a-key key-class="letter" char="n"></a-key>
        <a-key key-class="symbol" char="," maj-char="?"></a-key>
        <a-key key-class="symbol" char=";" maj-char="."></a-key>
        <a-key key-class="symbol" char=":" maj-char="/"></a-key>
        <a-key key-class="symbol" char="!" maj-char="§"></a-key>
        <a-key key-class="right-shift lastitem" char="Maj d"></a-key>

        <a-key key-class="symbol ctrlLeft break" char="Ctrl"></a-key>
        <a-key key-class="empty"></a-key>
        <a-key key-class="symbol altLeft" char="Alt"></a-key>
        <a-key key-class="space" char="Espace"></a-key>
        <a-key key-class="symbol altGr" char="Alt GR"></a-key>
        <a-key key-class="empty"></a-key>
        <a-key key-class="symbol ctrlRight lastitem" char="Ctrl d"></a-key>

    </ul>
    <ul id="special">

      <a-key key-class="empty fn"></a-key>

      <a-key key-class="break symbol" char="INS"></a-key>
      <a-key key-class="symbol" char="Home"></a-key>
      <a-key key-class="symbol lastitem pgUp" char="Page Up"></a-key>
      <a-key key-class="symbol break" char="SUPRR"></a-key>
      <a-key key-class="symbol" char="FIN"></a-key>
      <a-key key-class="symbol lastitem pgDwn" char="PageDown"></a-key>

      <a-key key-class="empty break"></a-key>
      <a-key key-class="empty"></a-key>
      <a-key key-class="empty lastitem"></a-key>


      <a-key key-class="empty break"></a-key>
      <a-key key-class="symbol" char="top"></a-key>
      <a-key key-class="empty lastitem"></a-key>
      <a-key key-class="symbol break" char="left"></a-key>
      <a-key key-class="symbol" char="bottom"></a-key>
      <a-key key-class="symbol lastitem" char="right"></a-key>
    </ul>


    <ul id="numpad">
      <a-key key-class="empty fn"></a-key>

      <a-key key-class="break symbol" char="VERR Num"></a-key>
      <a-key key-class="symbol" char="/"></a-key>
      <a-key key-class="symbol" char="*"></a-key>
      <a-key key-class="symbol lastitem" char="-"></a-key>
      <a-key key-class="num break" char="7"></a-key>
      <a-key key-class="num" char="8"></a-key>
      <a-key key-class="num" char="9"></a-key>
      <a-key key-class="num break" char="4"></a-key>
      <a-key key-class="num" char="5"></a-key>
      <a-key key-class="num" char="6"></a-key>
      <a-key key-class="symbol plus" char="+"></a-key>
      <a-key key-class="num break" char="1"></a-key>
      <a-key key-class="num" char="2"></a-key>
      <a-key key-class="num lastitem" char="3"></a-key>
      <a-key key-class="num zero break" char="0"></a-key>
      <a-key key-class="symbol" char="."></a-key>
      <a-key key-class="symbol entrNumpad lastitem" char="ENTR"></a-key>
    </ul>
  </div>
