<div class="col-md-12">

  <md-toolbar class="md-menu-toolbar">
    <div layout="row" flex="100">
      <md-toolbar-filler layout layout-align="center center">
        <md-icon>menu</md-icon>
      </md-toolbar-filler>

      <div flex="100">
        <div layout="row" flex="100">
          <md-button disabled> Crée le {{ currentKeyboard.date_created | date:'dd/MM/yy' }}</md-button>
          <md-button disabled> Dernière mise à jour le {{ currentKeyboard.date_last_modified | date:'dd/MM/yy' }}</md-button>
          <md-button disabled> # Modificateurs : {{ currentKeyboard.modificatorCount }}</md-button>
          <md-button disabled> # Touches : {{ currentKeyboard.keyCount }}</md-button>
        </div>
        <div layout="row" flex="100">

          <md-input-container flex="20" ng-show="!isEditMod">
            <label>Version</label>
            <md-select ng-model="currentVersion" class="md-no-underline">
              <md-option ng-repeat="(name,version) in selector.keyboards" ng-value="name">
                {{name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container ng-show="isEditMod">
            <label>Version</label>
            <input type="text" ng-model="newVersion" class="kVersion">
          </md-input-container>

          <md-input-container flex="20"  ng-show="!isEditMod">
            <label>Clavier</label>
            <md-select ng-model="currentName" class="md-no-underline" flex>
              <md-option ng-repeat="(name,v) in  selector.keyboards[currentVersion]" ng-value="name">
                {{name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex ng-show="isEditMod">
            <label>Clavier</label>
            <input type="text" ng-model="newName" class="kName" placeholder="Nom du nouveau clavier">
          </md-input-container>
        </div>


        <div layout="row" flex="100" layout-align="end end">
          <md-button class="md-icon-button" ng-click="editMod(true)" ng-if="selector.isAdmin" ng-show="!isEditMod">
            <md-tooltip>Mode édition</md-tooltip>
            <md-icon>mode_edit</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="copyKeyboard()" ng-show="isEditMod">
            <md-tooltip>Copier clavier</md-tooltip>
            <md-icon>content_copy</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="submitNewKeyboard()" ng-show="isEditMod">
            <md-tooltip>Valider modifications</md-tooltip>
            <md-icon>check</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="editMod(false)" ng-show="isEditMod">
            <md-tooltip>Annuler modification</md-tooltip>
            <md-icon>cancel</md-icon>
          </md-button>
          <md-button class="md-icon-button delete md-warn" ng-click="deleteKeyboard()" ng-show="isEditMod">
            <md-tooltip>Suprimer le clavier</md-tooltip>
            <md-icon>delete_forever</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </md-toolbar>  
  <md-progress-linear md-mode="indeterminate" ng-show="busy"></md-progress-linear>
</div>